requests
beautifulsoup4
ebooklib
PyYAML
PySocks
fastapi
uvicorn[standard]
python-multipart
boto3
python-dotenv
pymongo[srv]
cloudscraper
mega.py
pillow
tenacity>=8.2.0
pycryptodome>=3.18.0
websockets
sqlalchemy
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
psycopg2-binary
pydantic-settings
pydantic>=2.7.0
pytest